html {
    box-sizing: border-box;
}

body,
h2,
h1,
h3,
p {
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculatorBody {
   height: auto;
   width: 30rem; 
   background: #b6b8b6;
   margin: 0 auto;
   margin-top: 10rem;
   border-radius: 10px;
   border: 1px solid black;
}

.pad {
    margin: 2rem;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: .5rem;
    height: 7rem;
    width: auto;
    background-color: #b7d1ab;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;;
}

#smallNumbers {
    display: flex;
}


.mainDigit {
    font-size: 70px;
}

.mainDigitContainer {
    display: flex;
    height: 84px;
    width: 35.6333;
}

.clearDelete {
    display: flex;

}

.numberpad {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}

.num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: .5rem;
    border: 1px solid black;
    background-color: white;
    font-size: 30px;
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
    cursor: pointer;
}

.num:hover {
    background-color: #e0e0e0;

}

#zero {
    width: 11.65rem;
}

#CE {
    background-color: #de8a8a;
    width: 11.65rem;
}

#CE:hover {
    background-color: #fcaeae;
}

#C {
    background-color: #de8a8a;
}

#C:hover {
    background-color: #fcaeae;
}

.factors {
    background-color: #e3c284;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    border: 1px solid black;
    font-size: 30px;
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
    cursor: pointer;
}

.factors:hover {
    background-color: #fcdfa7;
}
